#root {
  width: 370px;
  margin: 0 auto;
  padding: 2rem;
}

/* .everything {
  display: inline-block;
  align-items: center;
  width: 100%;
} */

.movieContainer {
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 376px) {
  #root {
    width: 100%;
  }
}

@media (min-width: 860px) {
  .movieContainer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
  }
  .movieContainer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
}
}

button {
  color: teal;
  font-weight: bold; 
  margin-top: 25px;
  border: 1px solid teal;
}

button:hover {
  background-color: teal;
  color: white;
}
