body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

input {
  margin-top: 10px;
  margin-left: 10px;
}
.container {
  margin: 0 auto;
  margin-top: 30px;
  width: 400px;
  height: 500px;
  border: 1px dotted teal;
  border-radius: 10px;
  box-shadow: 10px 10px 15px gray;
}
.add-form__title {
  text-align: center;
  color: teal;
  font-weight: bolder;
  text-shadow: 2px 2px 5px gray;
}

.add-form__label {
  display: block;
  font-weight: bold;
  margin-top: 16px;
  margin-left: 50px;
  color: teal;
}

.add-form__input {
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  padding: 8px;
  width: 300px;
  margin-left: 35px;
}
.add-form__input--rating {
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  padding: 8px;
  width: 80px;
  margin-left: 35px;
  margin-top: 10px;
}

.add-form__button {
  border: 1px solid teal;
  color: teal;
  margin-top: 20px;
  margin-left: 160px;
  font-weight: bold;
}

.add-form__button:hover{
background-color: teal;
color: white;
}

