h1 {
  font-size: 20px;
  text-align: start;
}

.buttons {
  display: flex;
}

.update__button {
  border: 1px solid teal;
  color: teal;
  margin-top: 15px;
  margin-left: 70px;
  font-weight: bold;
}

.update__button:hover {
  background-color: teal;
  color: white;
}

.exit__button {
  border: 1px solid teal;
  color: teal;
  margin-left: 10px;
  font-weight: bold;
  height: 35px;
  margin-top: 15px;
}

.exit__button:hover {
  background-color: teal;
  color: white;
}

@media (min-width: 376px) {
  .update__button {
    margin-top: 20px;
    margin-left: 100px;
  }

  .exit__button {
    margin-left: 10px;
    height: 50px;
    margin-top: 20px;
  }
}
